# Ignore Rust build artifacts
/target
**/*.rs.bk

# Ignore waveform files
waveform.vcd

# Ignore build outputs
*.vcd
*.log
*.o
*.a
*.vvp
obj_dir/
error.log

sim/test_axi_basic*/
sim/last_run.log
